  body  {background-image: url("billeder/tank.gif")}

  #pf{
    	font-size:50px;
    	color:white;
      text-align: center;
     }

    #pp{
    	font-size:28px;
    	color:white;
      text-align: center;
    }

    #pa{
    	font-size:35px;
    	color:white;
      text-align: center;
    }
    h1 {text-align: center
        }
